<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://chmura-function-app-c6cxa7e2fhbnbnfw.polandcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/73ec820e-bb7c-4cb1-a845-329dfbf6c2f8/resourceGroups/projekt_chmura/providers/Microsoft.Web/sites/chmura-function-app</ResourceId>
    <PublishUrl>https://chmura-function-app-c6cxa7e2fhbnbnfw.scm.polandcentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>